[core]
	autocrlf = false
	editor = hack
	filemode = false
[user]
	email = george.kulakowski@gmail.com
	name = George Kulakowski
[alias]
	b = branch
	c = commit
	co = checkout
	d = diff
	dc = diff --cached
	f = fetch
	l = log
	make = !make
	ref = rev-parse --short HEAD
	root = !pwd
	rp = rev-parse
	s = status
	t = tag
[color]
	ui = true
[branch]
	autosetuprebase = always
[http]
	cookiefile = /home/gk/.gitcookies
